{% extends 'main_app/layout.html' %}

{% block title %} Create page for story {% endblock %}

{% block content %}
<div class="features">
    <h1>Create page</h1>
    <form action="{% url 'add_page' pk_st=1 pk_i18n=1 %}" method="post">
        {% csrf_token %}
       <div class="div-form">
           <label for="">Story_i18n id:</label>
            {{ form_page.story_i18n }}
            <label for="category">Image:</label>
            {{ form_page.image }}
            <label for="">Icon: </label>
            {{ form_page.icon }}
            <label for="">Headline:</label>
            {{ form_page.headline }}
            <label for="">Text:</label>
            {{ form_page.text }}
            <label for="">Deleted:</label>
            {{ form_page.deleted }}
        </div>

        <button class="button button_green" type="submit"><i class="fas fa-plus-circle"></i> Add</button>
    </form>
</div>
{% endblock %}