{% extends 'main_app/layout.html' %}

{% block title %} Categories {% endblock %}

{% block content %}
<div class="features">
    <p>Id category: {{ key_category.pk }}</p>
    <p>Category priority: {{ key_category.category_priority }}</p>

    <br>
    <a href="" class="button button_grey">Edit</a>

    <h3>Categories i18n ({{ categories_i18n.count }}):</h3>
    {% for ctg in categories_i18n %}
    <div class="polaroid">
        <div class="container">
            <div class="box-title"><h3>{{ ctg.pk }} {{ ctg.name }}</h3></div>
            <div class="box-subtitle"><p>{{ ctg.language }}</p></div>
            <div class="box-subtitle"><p>{{ ctg.category }}</p></div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}