{% extends 'main_app/layout.html' %}

{% block title %} Edit story {% endblock %}

{% block content %}
<div class="features">
    <h1>Edit story</h1>
    <form method="post">
        {% csrf_token %}

        <div class="div-form">
            <label for="category">Category id:</label>
            {{ form_story.category }}
            <label for="">Hide in stories: </label>
            {{ form_story.hide_in_stories }}
            <label for="">Post priority:</label>
            {{ form_story.post_priority }}
            <label for="">Fresh after:</label>
            {{ form_story.fresh_after }}
            <label for="">Fresh before:</label>
            {{ form_story.fresh_before }}
            <label for="">Clients eligible:</label>
            {{ form_story.clients_eligible }}
        </div>

        <span>{{ error_add1 }}</span>
        <button class="button button_green" type="submit"><i class="fas fa-plus-circle"></i> Save</button>
    </form>
</div>
{% endblock %}